[user]
	email = david.sloboda@meraki.net
	name = David Sloboda
[push]
	default = simple
[http]
	sslVerify = true
[core]
	excludesfile = /Users/daslobod/.gitignore
[pull]
	rebase = true
[url "ssh://git@github.office.opendns.com"]
	insteadOf = https://github.office.opendns.com
